<div class="slide" id="2">
    <div class="content second-content">
        <div class="container-fluid">
            <div class="col-md-6">
                <div class="left-content">
                    <h2>About me</h2>
                    <p>I have been interested in Software Development since the age of 7 but didn't really have the guts to actually code until I was 17. You may be wondering "Why?". And to keep it simple, I just didn't believe in myself. But as time passed I realized "Why do I have to wait until college to start doing the things that I like? It's not like the degree is going to write code."</p> 
                    <p>It all started when I was a kid. I was always too busy in the computer playing videogames, back then, Flash Games. One day out of curiousity I asked "I wonder how do they make video games" to which my aunt replied what in my mind sounded like a bunch of non-sense, then all I heard in the end was "And then programming". That word alone sounded like magic. Which is what that sort of blind admiration for the topic.</p>
                    <p>10 years later and I was playing the mod for the game Grand Theft Auto: San Andreas, known as "San Andreas Multiplayer". I was very active in a server known as "Los Santos Roleplay" and also in the forums, which were made in phpBB (Nostalgia points). I saw that they had developers in the team and so I went ahead and Private Messaged the server owner "What do I have to learn to be able to program a San Andreas Multiplayer server?". To which he replied "Before getting into it I had previous knowledge in Java. However for SAMP what you need to learn is Pawn". And so that was my first contact with software development, learning Pawn to try to make a SAMP Server.</p>
                    <p>I went through many different languages starting with Pawn, learning Python in Codecademy which then turned into Java. Stubborn me however kept hearing the comment "C++ is very hard" so I picked it up cause I'm just cool like that. Stuck with it for the longest time until 2021 which is when I was introduced to JavaScript and by extension ended up going for Backend then Full Stack Web Development. And here we are now.</p>
                    <div class="main-btn"><a href="#3">Read More</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="img/programming.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</div>