<div class="slide" id="3">
    <div class="content third-content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row">
                    <div class="first-section">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="left-content">
                                        <h2>/dev/ - Developer's Diaries</h2>
                                        <p>/dev/ - Developer's Diaries is the first project that I made during my first week of my ATDEV Internship. From November 18 to November 22. It was developed mainly with the purpose of putting Eleventy into practice, but it eventually turned into my own self-imposed challenge of making a blog that looks like 4chan.</p>
                                        <p>It went through multiple stages as I originally wanted to use Vue with Eleventy, however with no experience in either, and the original assignment being in Eleventy I decided to just do it in Eleventy. Because of this, I had to go back to square one plenty of times during the development phase.</p>
                                        <div class="main-btn-2"><a href="https://developer-diaries-atdev.netlify.app/" target="_blank">Continue Reading</a></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="right-image">
                                        <img src="img/dev_diaries.png" alt="first iteration and project made in my internship, also a blog.">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-section">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="left-image">
                                        <img src="img/static_pokedex.png" alt="static pokedex website using eleventy">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="right-content">
                                        <h2>Static Pokedex</h2>
                                        <p>I've always been a Pokémon fan. It all started when I was around 5 years old. Had a GameBoy Color with if I remember correctly Pokémon Yellow. Generation 1 isn't necessarily my favorite Generation of the Video Game, but it sure is in the anime.</p>
                                        <p>The reason the Static Pokédex, also using Eleventy, looks so similar to /dev/ - Developer's Diaries is because I wasn't satisfied with the layout for the first blog. I wanted a Grid but I wasn't completely aware of CSS having an actual grid functionality. So I improvised using a flexbox.</p>
                                        <p>Just like Developer's Diaries, I originally wanted to mix it with Vue. But with the main focus being Eleventy, I preferred to continue practicing the tool and worry about Vue later on. That however caused the project to be undone and redone multiple times too.</p>
                                        <div class="main-btn-2"><a href="https://static-pokedex-atdev.netlify.app/" target="_blank">Continue Reading</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>