<div class="slide" id="1">
    <div class="content first-content">
        <div class="container-fluid">
            <div class="col-md-3">
                <div class="author-image"><img src="img/cirno.jpg" alt="GitHub pfp Image"><p style="text-align: center">Recondito</p></div>
            </div>
            <div class="col-md-9">
                <h2>/code/ - Coding Cabin</h2>
                <p>Please take a look at <strong><a rel="nofollow" href="https://github.com/santanalla/developer-diaries">/dev/ - Developer's Diaries</a></strong> to see the project this blog is based on. The sole purpose of the Coding Cabin is to serve as an improved successor of Developer's Diaries. This time using a much better template while keeping the content the same. Also using Sanity instead of Decap CMS.</p>
                <p>This blog was created during my third week of my ATDEV's Internship Program. So far I've been having the time of my life, and this website should serve to document my progress through my time as an intern. I have written more code in three weeks than I've written in the entire year, probably because I'm much more motivated now that I feel like I have a purpose.</p>
                <p>/dev/ - Developer's Diaries was inspired in 4chan's minimalistic and almost "old" web design, along with the naming convention. I'm not a big 4chan user but I'm not gonna lie, the website is really well designed which is what motivated me to base my first iteration of the blog on it. However in a more professional environment, that layout can come off as a little bit "lazy". So this time I chose to use a better looking template.</p>
                <div class="main-btn"><a href="#2">Read More</a></div>
                <div class="fb-btn"><a rel="nofollow" href="https://github.com/recondito">GitHub</a></div>
            </div>
        </div>
    </div>
</div>