<div class="col-md-4 col-sm-6">
    <div class="item">
        <div class="thumb">
            <a href="img/first_big_item.jpg" data-lightbox="image-1"><div class="hover-effect">
                <div class="hover-content">
                    <h2>Number One</h2>
                    <p>Quisque sit amet lacus in diam pretium faucibus. Cras vel justo lorem.</p>
                </div>
            </div></a>
            <div class="image">
                <img src="img/first_item.jpg">
            </div>
        </div>
    </div>
</div>