<div class="col-md-4 col-sm-6">
    <div class="item">
        <div class="thumb">
            <a href={{image}} data-lightbox="image-1" data-title={{title}} data-body={{content}}>
                <div class="hover-effect">
                    <div class="hover-content">
                        <h2>{{title}}</h2>
                        <p>{{content}}</p>
                    </div>
                </div>
            </a>
            <div class="image">
                <img src={{image}}>
            </div>
        </div>
    </div>
</div>