---
title: Coding Cabin
layout: "base.njk"
---      
  
<div class="slides">
    {% include "home.njk" %}
    {% include "about.njk" %}
    {% include "entries.njk" %}
    {% include "work.njk" %}
    {% include "contact.njk" %}  
</div>
